<a href="/"><button type="button" class="btn btn-warning">Volta?</button></a>

<div class="card mt-4">
    <div class="card-body mt-2">
      <h1>{{postagem.titulo}}</h1>
      <hr>
      <small>Data de publicaçao: {{postagem.data}}</small>
      <hr>
      <p>Descriçao: {{postagem.descricao}}</p>
      <hr>
      <small>Conteudo: {{postagem.conteudo}}</small>
    </div>
  </div>